/* Material Icons */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
       url(../fonts/MaterialIcons-Regular.woff) format('woff'),
       url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  vertical-align: bottom;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}
/* Material Icons */


html, body {
  font-weight: 400;
  background-color: #ECEFF1;
}

.collection a.collection-item {
    color: #263238;
}

.collection i.material-icons {
  margin-right: .5rem;
}

.secondary-content {
  margin: .5em;
  color: #757575;
}

/* CLASS VIEW */
h2 {
  font-size: 1.5em;
  color: #616161;
  font-weight: 100;
}

h6 {
  margin-bottom: 2em;
}

.collapsible-body {
  padding: 2em;
}

.collapsible-body p {
  padding: 0;
}

.collapsible-body img {
   max-width: 100%;
}

.author {
  font-style: italic;
  color: #666;
  margin-bottom: .25em;
}

.collapsible-header.class {
  background-color: #c8b269;
  border: 1px solid #b4a05c;
  color: #fff;
}

.collapsible-body.class {
  background-color: #FAFAFA;
  border: 1px solid #BDBDBD;
}

@media only screen and (min-width : 600px) {
    .collapsible-body h2 {
      margin: 0 0 .5em;
    }
}

.collection a[href="content.html"]:after {
  content: "chevron_right";
  position: absolute;
  right: .5em;
  color: #666666;

  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  vertical-align: bottom;
}
/* CLASS VIEW */


/* CONTENT VIEW */
/* Unit */
.collapsible-header.content {
  background-color: #37474F;
  border: 1px solid #263238;
  color: #fff;
  position: relative;
}

.collapsible-header.content.active:before {
  border-color: #37474F transparent transparent;
  border-style: solid;
  border-width: 10px;
  bottom: -50%;
  content: "";
  display: block;
  height: 0;
  left: 2.5em;
  position: absolute;
  width: 0;
  z-index: 100;
}
/* Unit */

/* Lesson */
.collapsible-body.content ul.collapsible .collapsible-header {
  background-color: #607D8B;
  border: 1px solid #546E7A;
  color: #fff;
  position: relative;
}

.collapsible-body.content ul.collapsible .collapsible-header.active:before {
  border-color: #607D8B transparent transparent;
  border-style: solid;
  border-width: 10px;
  bottom: -50%;
  content: "";
  display: block;
  height: 0;
  left: 2.5em;
  position: absolute;
  width: 0;
  z-index: 10;
}

.collapsible-body.content span.badge {
    margin-right: -15px;
}

ul.collapsible li.active div.collapsible-body.content {
  border-bottom: 0;
}
/* Lesson */

/* Margins */
.collapsible-body.content,
.collapsible-body.content ul.collapsible .collapsible-body {
  padding: 0;
}

.collapsible-body.content ul.collapsible,
.collapsible-body.content ul.collapsible .collapsible-body .collection {
  margin: 0;
  border: 0;
}
/* Margins */


/* Video */
@media only screen and (max-width : 600px) {
  .material-icons {
      line-height: inherit;
  }
  nav {
    line-height: 64px;
    height: 64px;
  }
  nav .brand-logo {
    left: 8rem;
    padding: 0;
  }
  nav ul li {
    height: 64px;
  }
}

nav {
  background-color: #F44336;
}

nav .brand-logo {
    font-size: 1.2em;
}

nav ul a {
  padding: 0 10px;
}

video.responsive-video {
  margin: 1.14rem 0 0.912rem;
}

.no-enrolled i {
  color: #CFD8DC;
  margin: 20px 0 .25em;
  font-size: 15em;
}

.no-enrolled p {
  font-size: 1.5em;
  font-weight: 100;
  color: #757575;
}

/* NAV */
.tabs .indicator {
  background-color: #c8b269;
  bottom: 0;
  height: .25em;
}

.tabs .tab a {
  color: #b4a05c;
  font-weight: 400;
}

.tabs .tab a:hover {
  color: #b4a05c;
}

.tabs {
  margin-bottom: 1.5em;
}

nav.main {
  background-color: #263238;
}

.main  h3.brand-logo {
  margin: 1.65rem 0 1.168rem;
  font-weight: 100;
}

@media only screen and (max-width : 400px) {
  nav.main ul a {
    padding: 0 7px;
  }
  nav .nav-wrapper i {
    font-size: 24px;
  }
}

.container {
    width: 95% !important;
}
/* NAV */
