/* Material Icons */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
       url(../fonts/MaterialIcons-Regular.woff) format('woff'),
       url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  vertical-align: bottom;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}
/* Material Icons */


html, body {
  font-weight: 400;
  background-color: #ECEFF1;
}

.collection a.collection-item {
    color: #263238;
}

.collection i.material-icons {
  margin-right: .5rem;
}

.secondary-content {
  margin: .5em;
  color: #757575;
}

/* CLASS VIEW */
h2 {
  font-size: 1.5em;
  color: #616161;
  font-weight: 100;
}

h6 {
  margin-bottom: 2em;
}

.collapsible-body {
  padding: 2em;
}

.collapsible-body p {
  padding: 0;
}

.collapsible-body img {
   max-width: 100%;
}

.author {
  font-style: italic;
  color: #666;
  margin-bottom: .25em;
}

.collapsible-header.class {
  background-color: #ac8f2d;
  border: 1px solid #9e7d0e;
  color: #fff;
}

.collapsible-body.class {
  background-color: #FAFAFA;
  border: 1px solid #BDBDBD;
}

@media only screen and (min-width : 600px) {
    .collapsible-body h2 {
      margin: 0 0 .5em;
    }
}

i.chev.classProgress + i.material-icons {
  margin-right: 0;
}


/*.class.label + * + .collection.z-depth-1 .collection-item:after {
  content: "\e5cc";
  position: absolute;
  right: .5em;
  color: #666666;

  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  vertical-align: bottom;
}*/
/* CLASS VIEW */


/* CONTENT VIEW */
/* Unit */
.collapsible-header.content {
  background-color: #37474F;
  border: 1px solid #263238;
  color: #fff;
  position: relative;
}

.collapsible-header.content.active:before {
  border-color: #37474F transparent transparent;
  border-style: solid;
  border-width: 10px;
  bottom: -50%;
  content: "";
  display: block;
  height: 0;
  left: 2.5em;
  position: absolute;
  width: 0;
  z-index: 100;
}
/* Unit */

/* Lesson */
.collapsible-body.content ul.collapsible .collapsible-header {
  background-color: #607D8B;
  border: 1px solid #546E7A;
  color: #fff;
  position: relative;
}

.collapsible-body.content ul.collapsible .collapsible-header.active:before {
  border-color: #607D8B transparent transparent;
  border-style: solid;
  border-width: 10px;
  bottom: -50%;
  content: "";
  display: block;
  height: 0;
  left: 2.5em;
  position: absolute;
  width: 0;
  z-index: 10;
}

span.badge {
    margin-right: -15px;
}

ul.collapsible li.active div.collapsible-body.content {
  border-bottom: 0;
}
/* Lesson */

/* Margins */
.collapsible-body.content,
.collapsible-body.content ul.collapsible .collapsible-body {
  padding: 0;
}

.collapsible-body.content ul.collapsible,
.collapsible-body.content ul.collapsible .collapsible-body .collection {
  margin: 0;
  border: 0;
}
/* Margins */


/* VIDEO */
@media only screen and (max-width : 600px) {
  .material-icons {
      line-height: inherit;
  }
  nav {
    line-height: 64px;
    height: 64px;
  }
  nav .brand-logo {
    left: 8rem;
    padding: 0;
  }
  nav ul li {
    height: 64px;
  }
}

nav {
  background-color: #F44336;
}

nav .brand-logo {
    font-size: 1.2em;
}

nav ul a {
  padding: 0 10px;
}

video.responsive-video {
  margin: 1.14rem 0 0.912rem;
}

.no-enrolled i {
  color: #CFD8DC;
  margin: 20px 0 .25em;
  font-size: 15em;
}

.no-enrolled p {
  font-size: 1.5em;
  font-weight: 100;
  color: #757575;
}
/* VIDEO */



/* NAV */
.tabs .indicator {
  background-color: #c8b269;
  bottom: 0;
  height: .35em;
}

.tabs .tab a {
  color: #b4a05c;
  font-weight: 400;
}

.tabs .tab a:hover {
  color: #b4a05c;
}

.tabs {
  margin-bottom: 1.5em;
}

nav.main {
  background-color: #263238;
}

.main  h3.brand-logo {
  margin: 1.65rem 0 1.168rem;
  font-weight: 100;
}

@media only screen and (max-width : 400px) {
  nav.main ul a {
    padding: 0 7px;
  }
  nav .nav-wrapper i {
    font-size: 24px;
  }
}

.container {
    width: 95% !important;
}
/* NAV */

/* LABEL */
span.class.label {
  background-color: #009688;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 300;
  padding: .35em .5em .25em;
  margin-bottom: 1em;
  display: inline-block;
  border-radius: 3px;
}

span.class.label:after {
  content: "CLASSES"
}

.classProgress {
  background-color: #F44336;
  border-radius: 2px;
  color: #fff;
  font-size: 0.8rem !important;
  font-style: normal;
  font-weight: 300;
  padding: 0.35em 0.5em 0.25em;
  position: relative;
  top: -0.125em;
  margin-left: 15px;
  float: none !important;
  display: inline !important;
}
/* LABEL */

/* CARD */
.card .card-content {
    padding: 10px;
    cursor: pointer;
}

.card .card-content:hover {
    background-color: #ddd;
}

.card .card-title {
    font-size: inherit;
    font-weight: 300;
}

.card .card-reveal .card-title {
    display: inline;
}

.card .card-reveal {
  overflow-y: hidden;
  background-color: #CFD8DC;
  text-align: center;
  padding: 10px;
}

.card .card-reveal a {
  color: #455A64;
  margin: 0 .5em;
  border-right: 1px solid #78909C;
  padding: 0 20px 0 0;
}

.card .card-reveal a:last-child {
  border-right: 0;
}

.card .card-reveal a:first-child i.material-iconsd {
  margin-left: 0;
}

.card .card-reveal a i.material-icons {
  position: relative;
  top:-0.25em;
  margin-right: 0;
}

@media only screen and (min-width : 601px) {
  .card .card-reveal a i.material-icons {
    top:0;
  }
}

.card {
    border-radius: 0;
    margin: 0;
    box-shadow: 0;
}

.card-reveal .card-title .material-icons {
  position: absolute;
  right: 0.5rem;
  color: #455a64;
}
/* CARD */
